<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>CalcServlet</servlet-name>
        <servlet-class>lab5.Calc</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Lab5_RegistrationForms</servlet-name>
        <servlet-class>lab5.RegistrationForms</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegistrationFormsAB</servlet-name>
        <servlet-class>lab5.RegistrationFormsAB</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Lab5_RegistrationFormsC</servlet-name>
        <servlet-class>lab5.RegistrationFormsC</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CalcServlet</servlet-name>
        <url-pattern>/calculator/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalcServlet</servlet-name>
        <url-pattern>/calculator/result</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>Lab5_RegistrationForms</servlet-name>
        <url-pattern>/lab5/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegistrationFormsAB</servlet-name>
        <url-pattern>/lab5/actionA</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegistrationFormsAB</servlet-name>
        <url-pattern>/lab5/actionB</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Lab5_RegistrationFormsC</servlet-name>
        <url-pattern>/lab5/actionC</url-pattern>
    </servlet-mapping>
</web-app>